<!DOCTYPE html>
<html lang="ro"> 
	
	<head>        
		<title>Magazin NFT</title> 
		
		
		<meta name="keywords" content="NFT,Crypto,Monede,Magazin,Blockchain,Jetoane">
		<meta name="description" content="Magazin online pentru non-fungible token (NFT)">
		

        <%- include("../fragmente/head.ejs") %>
		
	</head>    
	<body>  
		<video src="resurse/imagini/pexels-ingrid-north-1851190-3840x2160-25fps.mp4" autoplay loop muted>
		</video>
		<%- include("../fragmente/header.ejs") %>
		<main>
			<h2>Alta pagina</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis diam nec enim convallis bibendum. Morbi vehicula nisl vel consectetur volutpat. Phasellus lacinia tellus tempus eros maximus, a aliquam magna semper. Sed eget aliquam ligula. Maecenas ac metus eget mi auctor ultricies a et lacus. Maecenas auctor egestas massa, eu accumsan elit dapibus sed. Praesent consequat odio eget justo convallis, ac porttitor augue convallis. Nam lobortis lectus id aliquet vehicula. Donec varius ipsum non urna viverra, a malesuada lectus semper. Fusce ultricies fringilla nisl, vitae blandit erat sagittis nec. Vestibulum condimentum nisi eget augue dignissim porttitor. Nulla facilisi.

				Nulla tellus velit, congue ut ex eget, posuere ullamcorper est. Phasellus a nulla metus. Ut euismod sed justo in interdum. Proin justo odio, placerat sit amet ante non, feugiat vehicula dolor. Cras posuere metus justo, sed fermentum erat placerat interdum. Praesent finibus at tellus eu tincidunt. Etiam gravida orci in augue lobortis facilisis. Aenean scelerisque, enim iaculis malesuada pulvinar, neque justo placerat libero, at vulputate elit sapien vel libero. Quisque sed felis a dolor maximus accumsan a id lorem. Vestibulum tristique, neque non commodo eleifend, lectus diam maximus lectus, pulvinar consectetur sem nibh quis nisl. Duis tincidunt dictum erat, sit amet aliquam massa lacinia eu. In ut libero eu odio consequat tristique in sed erat.
				
				Nullam dolor quam, condimentum et fermentum at, consectetur eget justo. Maecenas at sollicitudin tellus, vitae ullamcorper est. Morbi nec interdum lacus. Vivamus iaculis fringilla enim id efficitur. Duis cursus massa at finibus hendrerit. Nullam tincidunt varius risus eget rutrum. Donec sagittis erat vitae molestie euismod. Integer at erat a tellus commodo efficitur.
				
				Praesent a congue enim, at tincidunt arcu. Vivamus euismod fringilla egestas. Phasellus et mi lectus. Suspendisse vehicula volutpat purus, non gravida est placerat et. Nam consectetur sit amet turpis eu laoreet. Quisque auctor viverra velit, sit amet feugiat nisi cursus id. Aliquam hendrerit ipsum ac est consequat fermentum. Duis ut risus rutrum, ullamcorper dui vitae, scelerisque tellus. Quisque eu magna fermentum, finibus eros eu, imperdiet dolor. In tincidunt sapien et nibh facilisis volutpat. Nam scelerisque dolor eget felis mollis convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare ante at massa mattis, nec aliquet arcu vehicula. In lorem felis, faucibus at ante et, posuere venenatis dui.
				
				Nullam sed metus commodo, tempus lacus sed, condimentum sapien. Suspendisse pretium tellus quis nibh interdum bibendum. Curabitur id sodales elit. Sed in malesuada tellus. Morbi tristique rhoncus lacus vitae gravida. Quisque arcu diam, dignissim nec elit in, hendrerit elementum ipsum. Cras vitae enim quis magna vestibulum finibus. Suspendisse eget risus nec ipsum malesuada scelerisque et nec mi. Phasellus urna ligula, porta nec eros vel, rhoncus volutpat diam. Sed commodo nunc diam, quis dignissim ante imperdiet in. Integer efficitur tortor est, eu dapibus quam tincidunt feugiat. Curabitur et finibus lacus. Aliquam cursus porttitor magna nec pulvinar.</p>
		</main>
		<%- include("../fragmente/footer.ejs") %>
	</body>
</html>