<!DOCTYPE html>
<html  lang="ro">
    <head>        
		<title>Magazin NFT</title> 
		
		
		<meta name="keywords" content="NFT,Crypto,Monede,Magazin,Blockchain,Jetoane">
		<meta name="description" content="Magazin online pentru non-fungible token (NFT)">
		

        <%- include("../fragmente/head.ejs") %> 
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <%- include("../fragmente/galerie") %>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>