<footer>
			<a href="#" class="buttontop" style="text-decoration:none">&#5123;<span class="tooltiptext">buton top</span>
			</a>
			<address>
				<a href="tel:+0722222222"> 0722222222</a><br>
				<a href="mailto:adresa@gmail.com">adresa@gmail.com</a><br>
				<a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0952093,16z/data=!4m10!1m2!2m1!1sfmi!3m6!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!15sCgNmbWmSARJmYWN1bHR5X29mX3NjaWVuY2XgAQA!16s%2Fg%2F1td63tdh" target="_blank"> Str.Strada Nr.69 </a>
			</address>
			
			<small>Copyright &copy; <time datetime="2023-02-27">27 februarie 2023</time></small>
			
			<div>

			<p id="banner">Acesta este un proiect scolar!</p>
			<div id="banner-cookie">
				<p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
			</div>
			<p id="watermark"></p>
		</footer>
		</footer>