<div id="galerie_exemplu" class="galerie">
	<div>
		<figure>
			<img src="./resurse/imagini/galerie/final-1592.png" alt="BEANZ-1592" />
			<figcaption>BEANZ-1592</figcaption>
		</figure>
		<figure>
			<img src="./resurse/imagini/galerie/final-1601.png" alt="BEANZ-1601" />
			<figcaption>BEANZ-1601</figcaption>
		</figure>
		<figure>
			<img src="./resurse/imagini/galerie/final-2993.png" alt="BEANZ-2993" />
			<figcaption>BEANZ-2993</figcaption>
		</figure>
		<figure>
			<img src="./resurse/imagini/galerie/final-3058.png" alt="BEANZ-3058" />
			<figcaption>BEANZ-3058</figcaption>
		</figure>
		<figure>
			<img src="./resurse/imagini/galerie/final-3335.png" alt="BEANZ-3335" />
			<figcaption>BEANZ-3335</figcaption>
		</figure>
		<figure>
			<img src="./resurse/imagini/galerie/final-3802.png" alt="BENAZ-3802" />
			<figcaption>BENAZ-3802</figcaption>
		</figure>
		<figure>
			<img src="./resurse/imagini/galerie/final-8043.png" alt="BEANZ-8043" />
			<figcaption>BEANZ-8043</figcaption>
		</figure>
	</div>
</div>