<header>
		<h1>Magazin NFT</h1>  
		</header>
		
		<nav>
			<label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div id="acasa"><i class="fa fa-home"></i>Acasa</div>
                <ul class="ullista">
                    <li><a href="#welcome">Bine ati venit</a><div>&#8594 </div></li>
                    <li><a href="#tabel">Tabel<div>&#8594 </div></a></li>
                    <li><a href="#calendarevenimente">Evenimente<div>&#8594 </div></a></li>
                    <li><a href="#anunturi">Anunturi<div>&#8594 </div></a></li>
                    <li><a href="#listautilizatori">Utilizari<div>&#8594 </div></a></li>
					<li><a href="#statistici">Statistici<div>&#8594 </div></a></li>
                    <li><a href="#datesite-server">Date Site<div>&#8594 </div></a></li>
					<li><a href="#diverse">Diverse<div>&#8594 </div></a></li>
                </ul>
            
            
            </li>
            <li><a href="#">Inregistrare</a></li>
            <li><div>Despre</div>
                <ul class="ullista">                        
                    <li><a href="despre.html#prezentare">Prezentare<div>&#8594 </div></a></li>
                    <li><a href="despre.html#istoric">Istoric<div>&#8594 </div></a></li>
                    <li><a href="despre.html#motivatie">Motivatie<div>&#8594 </div></a></li>
                    <li><a href="despre.html#galerie">Galerie<div>&#8594 </div></a></li>
                </ul>
            </li>
            
            <!--li><div>Colectii</div>
                <ul class="ullista">
                    <li><a href="http://www.google.com">MAYC<div>&#8594 </div></a></li>
                    <li><a href="#">BAKC<div>&#8594 </div></a></li>
                    <li><a href="#">BAYC<div>&#8594 </div></a></li>
                    <li><a href="#">CXXTM<div>&#8594 </div></a></li>
                </ul-->
            
            <li><div>Colectii</div>
                    <ul class="ullista">
                        <li><a href="/produse">Toate<div>&#8594 </div></a></li>
                        <li><a href="/produse?tip=cofetarie">Prajituri<div>&#8594 </div></a></li>
                        <li><a href="/produse?tip=gelaterie">Inghetata<div>&#8594 </div></a></li>
                        <li><a href="/produse?tip=patiserie">Patiserie<div>&#8594 </div></a></li>
                    </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
		</nav>
</header>