<script src="/resurse/js/tema.js"></script>
<header>
		<h1>Magazin NFT</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
              <label id="tema1" class="btn btn-outline-primary" for="btnradio1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 16 16">
            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
            </svg></label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label id="tema2" class="btn btn-outline-primary" for="btnradio2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            </svg></label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
              <label id="tema3" class="btn btn-outline-primary" for="btnradio3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-upside-down-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zM4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM10 8c-.552 0-1 .672-1 1.5s.448 1.5 1 1.5 1-.672 1-1.5S10.552 8 10 8z"/>
            </svg></label>
        </div>
</header>
		<nav>
			<label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><a href="/"><div id="acasa"><i class="fa fa-home"></i>Acasa</div></a>
                <ul class="ullista">
                    <li><a href="/">Bine ati venit</a><div>&#8594 </div></li>
                    <li><a href="/#tabel">Tabel<div>&#8594 </div></a></li>
                    <li><a href="/#calendarevenimente">Evenimente<div>&#8594 </div></a></li>
                    <li><a href="/#anunturi">Anunturi<div>&#8594 </div></a></li>
                    <li><a href="/#listautilizatori">Utilizari<div>&#8594 </div></a></li>
					<li><a href="/#statistici">Statistici<div>&#8594 </div></a></li>
                    <li><a href="/#datesite-server">Date Site<div>&#8594 </div></a></li>
					<li><a href="/#diverse">Diverse<div>&#8594 </div></a></li>
                </ul>
            
            
            </li>
            <li><a href="#">Inregistrare</a></li>
            <li><div>Despre</div>
                <ul class="ullista">                        
                    <li><a href="despre.html#prezentare">Prezentare<div>&#8594 </div></a></li>
                    <li><a href="despre.html#istoric">Istoric<div>&#8594 </div></a></li>
                    <li><a href="despre.html#motivatie">Motivatie<div>&#8594 </div></a></li>
                    <li><a href="despre.html#galerie">Galerie<div>&#8594 </div></a></li>
                </ul>
            </li>
            
            <!--li><div>Colectii</div>
                <ul class="ullista">
                    <li><a href="http://www.google.com">MAYC<div>&#8594 </div></a></li>
                    <li><a href="#">BAKC<div>&#8594 </div></a></li>
                    <li><a href="#">BAYC<div>&#8594 </div></a></li>
                    <li><a href="#">CXXTM<div>&#8594 </div></a></li>
                </ul-->
            
            <li><div><a href="/produse">Colectii</a></div>
                    <ul class="ullista">
                        <li><a href="/produse">Toate<div>&#8594 </div></a></li>

                        <!-- <li><a href="/produse?tip=cofetarie">Prajituri<div>&#8594 </div></a></li>
                        <li><a href="/produse?tip=gelaterie">Inghetata<div>&#8594 </div></a></li>
                        <li><a href="/produse?tip=patiserie">Patiserie<div>&#8594 </div></a></li> -->
                        
                        <% for (let i=1; i < obGlobal.optiuniMeniu.length; i++) { %>
                            <li><a href="/produse?tip=<%- obGlobal.optiuniMeniu[i].unnest %>"><%- obGlobal.optiuniMeniu[i].unnest %><div>&#8594 </div></a></li>
                        <%}%>
                    </ul>    
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
		</nav>
</header>